<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />        
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/app/css/blog-post.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap.min.css') }}" />
        {% endblock %}
        {% block javascript %} 
            <script src="{{ asset('bundles/app/js/jquery-1.11.2.min.js') }}"
                type="text/javascript"></script>
            <!-- Bootstrap Core JavaScript -->
            <script src="{{ asset('bundles/app/js/bootstrap.min.js') }}"></script>
              
        {% endblock %}  
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{ url('post') }}">К записям</a>
                    </li>
                    
                    <li>
                        <a href="{{ url('about') }}">О нас</a>
                    </li>
                    <li>
                        <a href="{{ url('contacts') }}">Контакты</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if app.user %}
                        <li>
                            <a href="{{ url('post_admin') }}">Администрирование</a>
                        </li>
                        <li>
                            <a href="{{ url('fos_user_security_logout') }}">
                                Выйти
                            </a>
                        </li>
                    {% else %}
                    <li>
                        <a href="{{ url('fos_user_security_login') }}">
                            Войти
                        </a>
                    </li>
                    {% endif %}                        

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <div class="container">
        {% block body %}{% endblock %}
    </div>


    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </div>
    </footer>


</body>

</html>    