{% extends "::base.html.twig" %}

{% block title %}AppBundle:Simple:about{% endblock %}

{% block body %}
    <div class="row">
        <h1>О нас:</h1>
        Живем как можем
        
        Исходники <a href="https://bitbucket.org/meteor91/blog">тут</a>
    </div>
{% endblock %}
