{% extends "::base.html.twig" %}

{% block title %}AppBundle:Simple:contacts{% endblock %}

{% block body %}
    <div class="row">
        <h1>Контакты:</h1>
        Сиразитдинов Билал, мыло: bilalsir@yandex.ru
    </div>
{% endblock %}
