{% extends '::base.html.twig' %}

{% block body -%}

    {% if is_granted('ROLE_ADMIN') %}
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <a href="{{ path('post_new') }}">
                    Создать новую запись
                </a>
        </div>                    
    </div>
                    
    {% endif %}
    <div class="row">
        <div class="col-md-10">
            <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Заголовок</th>
                        <th>Разместил</th>
                        <th>Комментариев</th>
                        <th>Дата публикации</th>
                        <th>Редактировать</th>
                        <th>Удалить</th>
                    </tr>
                </thead>
                <tbody>
                {% for entity in pagination %}
                    <tr>
                        <td>
                            <a href="{{ path('post_show', { 'id': entity.id }) }}">
                                {{ entity.title }}
                            </a>
                        </td>
                        <td>
                            {{ entity.author }}
                        </td>
                        <td>
                            {{ SDP.commentCount(entity.id) }}                           
                        </td>
                        <td>
                            <i> {{ entity.createdAt|date('Y-m-d H:i:s') }}</i>
                        </td>
                        </td>
                        <td>
                            <a class="btn btn-warning" href="{{ url('post_edit', {'id':  entity.id} ) }}">
                                <span class="glyphicon glyphicon-pencil font-m" aria-hidden="true"></span>
                            </a>
                        </td>
                        <td>
                            <form method="post" action="{{ url('post_delete', {'id': entity.id}) }}">
                                <input type="hidden" value="DELETE" name="_method"></input>
                                <button class="btn btn-danger" type="submit" onclick="return confirm('Подтвердите удаление.')" >
                                    <span class="glyphicon glyphicon-fire font-m" aria-hidden="true"></span>
                                </button>
                            </form>
                        </td> 
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
