{% extends '::base.html.twig' %}

{% block body -%}
    <div class="container">
        <div class="row">
        {{ tinymce_init() }}
        {{ form(edit_form) }}

        <ul class="record_actions">
            <li>
                <a href="{{ path('post_admin') }}">
                    Вернуться назад к записям
                </a>
            </li>
            <li>{{ form(delete_form) }}</li>
        </ul>
        </div>
    </div>
{% endblock %}
