{% extends '::base.html.twig' %}

{% block body -%}

    {% if is_granted('ROLE_ADMIN') %}
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <a href="{{ path('post_new') }}">
                    Создать новую запись
                </a>
        </div>                    
    </div>
                    
    {% endif %}
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {% for entity in pagination %}
            <div class="post-preview">
                <a href="{{ path('post_show', { 'id': entity.id }) }}">
                    <h2 class="post-title">
                        {{ entity.title }}
                    </h2>       
                </a>
                <h3 class="post-subtitle">
                    {{ entity.preview|raw }}
                </h3>                     
                <p class="post-meta">
                    Опубликовал <a href="#">{{ entity.author }}</a> 
                    {% set cc = SDP.commentCount(entity.id) %}
                    <u>{{ cc }} 
                        {{ cc == 1 ? ' комментарий' :  (cc < 5 and cc!=1 ? 'комментария' : 'комментариев')}}
                        </u>
                    <i> {{ entity.createdAt|date('Y-m-d H:i:s') }}</i>
                </p>
            </div>
            <hr>                   
        {% endfor %}
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>        
        </div>
    </div>


    {% endblock %}
