{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Новая запись</h1>
    {{ tinymce_init() }}
    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('post') }}">
            Вернуться назад к записям
        </a>
    </li>
</ul>
{% endblock %}
