{% extends '::base.html.twig' %}
{% block javascript %}
    {{ parent() }}
    
    <script type="text/javascript">
        $(document).ready(function(){
            $(document).on('submit', '#com-form', function(e) {
                e.preventDefault();
                var form = $(e.target)
                    $.ajax({
                        type: "POST",
                        url: form.attr('action'),
                        data: form.serialize(),
                        success: function(html) {
                            $('#comments').append(html)
                            $('#appbundle_commentary_text').val('')
                        }                        
                    }) 

                $('#com-form-container').html(form)
            })
        })
        
    </script>
{% endblock %}
{% block body -%}
    

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">

                <!-- Blog Post -->

                <!-- Title -->
                <h1>{{ entity.title }}</h1>

                <!-- Author -->
                <p class="lead">
                    Автор <a href="#">{{ entity.author }}</a>
                </p>

                <hr>

                <!-- Date/Time -->
                <p><span class="glyphicon glyphicon-time"></span> Дата: {{ entity.createdAt|date('Y-m-d H:i:s') }}</p>

                <hr>

                {{ entity.content |raw}}
                <hr>
                
                <!-- Blog Comments -->
                <!-- Comments Form -->                
                <div class="well">
                    <h4>Оставить комментарий:</h4>
                    {{ form_start(com_form, {'attr': {'id': 'com-form'} } ) }}
                        <div class="form-group">
                            {{ form_widget(com_form.text, {'attr': {'rows': '3', 'class': 'form-control'} } ) }}
                        </div>
                        <button class='ready-to-go btn btn-primary' type="submit" class="button btn-primary btn-xs">Отправить</button>
                    {{ form_end(com_form) }}
                </div>
                <!-- Posted Comments -->

                <div id="comments">
                {% if entity.commentary is defined and entity.commentary is not null %}
                {% for commentary in entity.commentary %}                
                <!-- Comment -->
                <div class="media-comment" id="{{ 'comment'~commentary.id }}">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://placehold.it/64x64" alt="">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">{{ commentary.author!=null ?  commentary.author : 'Анонимус'}}
                            <small>{{ commentary.createdAt|date('Y-m-d H:i:s') }}</small>
                        </h4>
                        
                            <span>{{ commentary.text }}</span>
                    </div>
                </div>    
   
                
                {% endfor %}
                {% endif %}                
                </div>
                </div>
            </div>
        


  
  
 {% if is_granted('ROLE_ADMIN') %}           
     <ul class="record_actions">
         <li>
             <a href="{{ path('post_admin') }}">
                 Назад к записям
             </a>
         </li>
         <li>
             <a href="{{ path('post_edit', { 'id': entity.id }) }}">
                 Редактировать
             </a>
         </li>
         <li>{{ form(delete_form) }}</li>
     </ul>
{% endif %}
{% endblock %}
