{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Commentary list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Author</th>
                <th>Createdat</th>
                <th>Post</th>
                <th>Text</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('commentary_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.author }}</td>
                <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.text }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('commentary_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('commentary_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('commentary_new', {'id': 1} ) }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
