<div class="media-comment" id="{{ 'comment'~commentary.id }}">
    <a class="pull-left" href="#">
        <img class="media-object" src="http://placehold.it/64x64" alt="">
    </a>
    <div class="media-body">
        <h4 class="media-heading">Start Bootstrap
            <small>{{ commentary.createdAt|date('Y-m-d H:i:s') }}</small>
        </h4>

            <span>{{ commentary.text }}</span>
    </div>
</div>   